body {
  background-color: brown;
}
.card {
  width: 50vw;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  margin: 5vw;
} 

.card-body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card-img-top {
  width: 25vw;
  padding-left: 10vw;
  /* padding-right: 10vw; */
}

.center {
  margin-left: 10vh;
  margin-top:2vh;
}

.title {
  text-align: center;
}

#productCard {
  display: flex;
  flex-wrap: wrap;
}